nav{
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around
}
li{
  list-style-type: none;
}
section{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 40px;
 }
 .savenote{
  justify-content: center;
  display: flex;
  background-color: rgb(205, 166, 237);
  margin: 20px;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
 }
 .container{
  display: flex;
  flex-wrap: wrap;
 }
 form{
  align-items: center;
 }
 label{
  display: block;
 }
 input{
  text-align: center;
 }
 form{
  text-align: center;
 }
 h3{
  text-align: center;
 }
 input{
  width: 400px;
 }
 textarea{
  width: 400px;
  height: 100px;
 }
 button{
  width: 40px;
  height: 30px;
 }
 